.logoContainer {
    position: relative;
    width: 80vw;
    height: fit-content;
    /* background: #ff03a44F; */
    min-height: 400px;
    padding: 2rem;
    margin: 0 auto;
}

.Sun {
    
    width: 40vw;
    height: 40vw;
    background-color: yellow;
    border-radius: 50%;
    margin: 0 auto;
    border: 3px solid white;  
}

.Stripe {
    height: 3vw;
    background-color: black;
    margin: 1vw;

    animation-name: stripeAnimation;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 3s;
}

.Stripe:nth-of-type(1) {
    animation-name: stripeAnimation;
    animation-duration: 2.5s;
}

.Stripe:nth-of-type(2) {
    animation-name: stripeAnimationReverse;
    animation-duration: 2s;
}

.Stripe:nth-of-type(3) {
    animation-name: stripeAnimation;
    animation-duration: 3s;
}

.Stripes {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 25vw;
    left: calc((100% - 60vw) / 2);
}

.PrimaryText {
    position: absolute;
    color: green;
    font-size: 10rem;
    font-weight: bold;
}

@keyframes stripeAnimation {
    from {
        transform: translate(0, 1vw);
    }

    to {
        transform: translate(0, -1vw);
    }
}

@keyframes stripeAnimationReverse {
    from {
        transform: translate(0, -1vw);
    }

    to {
        transform: translate(0, 1vw);
    }
}

