.IntroduceContainer {
    padding: 5vw;
    background-color: white;
    color: black;
    height: calc(100vh - 60px);
}

.Header {
    box-sizing: content-box;
    font-size: 8vw;
    text-align: center;

}

.Capture {
    text-align: center;
    font-size: 1vw;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8)
}